<div class="flex min-h-full flex-col justify-center px-6 py-6>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Editar Conta</h2>
  </div>
  <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put, accept: :html, class: "space-y-6" }) do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <div>
        <%= f.label :password, "Nova senha" %>
        <i class="text-xs text-gray-500">Deixe em branco para não alterar a senha atual</i>
        <div class="mt-2">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>
      <div>
        <%= f.label :password_confirmation, "Repetir nova senha" %>
        <div class="mt-2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <div>
        <%= f.label :current_password %>
        <i class="text-xs text-gray-500">Informar a senha atual para confirmar as alterações</i>
        <div class="mt-2">
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>
      <div>
        <%= f.submit "Salvar" %>
      </div>
    <% end %>
  </div>
