<%= render DrawerComponent.new(title: "Convidar Usuário", animate: resource.errors.none?) do %>
  <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: "space-y-6" } do |f| %>
    <div>
      <%= f.label :name %>
      <div class="mt-2">
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
    </div>
    <div>
      <%= f.label :email %>
      <div class="mt-2">
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
    </div>
    <div>
      <%= f.submit "Convidar Usuário" %>
    </div>
  <% end %>
<% end %>


