<div class="border-b border-gray-200 bg-white px-4 pb-3 sm:px-6 mb-3">
  <h3 class="text-base font-semibold text-gray-900">Lista de usuários</h3>
</div>
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <%= form_with url: admin_users_path, class:"max-w-sm", method: :get do |f| %>
        <%= f.search_field :search, value: params[:search], placeholder: "Search users..." %>
      <% end %>
    </div>
    <div class="flex gap-x-4">
      <%= link_to "Novo", new_admin_user_path, class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", data: {turbo_frame: 'drawer-frame'}%>
      <%= link_to "Convidar", new_user_invitation_path, class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", data: {turbo_frame: 'drawer-frame'}%>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
          <%= render @users %>
        </ul>
        <%= render PagyComponent.new(pagy: @pagy) %>
      </div>
    </div>
  </div>
</div>
