<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>BoilerplateRails</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="h-full">
    <%= render "layouts/flashes" %>
    <% if user_signed_in? %>
      <%= render "layouts/sidebar" %>
      <main class="py-10 lg:pl-72">
        <div class="px-4 sm:px-6 lg:px-8">
          <%= yield %>
        </div>
      </main>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
